body {
    background-color: plum;
    margin: 0;
    padding: 0;
}
.information {
    margin-top: 15%;
    background-color: thistle;
    padding: 10px;
}
p{
    text-align:center;
    color:purple;
}
